examples/DotnetApp/bin
examples/DotnetApp/obj
examples/bindings-generator/src/Generated.cs
examples/bindings-generator/src/Generated.py
examples/bindings-generator/src/rust_lib.dll
examples/bindings-generator/src/__pycache__/
target/
